.header {
  width: 100%;
  height: 1.2rem;
  display: flex;
  align-items: center;
  background: #3CC893;
  position: relative; }
  .header .ma {
    width: 1.14rem;
    height: 1.14rem;
    font-size: 0;
    margin-left: 0.4rem;
    margin-right: 0.28rem; }
    .header .ma img {
      width: 100%;
      height: 100%; }
  .header .tou {
    width: 4.82rem;
    height: 1.14rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around; }
    .header .tou .zi1 {
      width: 3.1rem;
      height: 0.4rem;
      overflow: hidden;
      font-size: 0.35rem;
      color: #068347; }
    .header .tou .lianjie {
      width: 100%;
      height: 0.4rem;
      font-size: 0.27rem;
      color: white;
      overflow: hidden; }
      .header .tou .lianjie .gz {
        overflow: hidden;
        color: #EDD414; }
  .header .x {
    width: 0.3rem;
    height: 0.25rem;
    font-size: 0.25rem;
    position: absolute;
    top: 0.1rem;
    right: 0.05rem; }

.sousuo {
  width: 7.14rem;
  height: 0.7rem;
  margin: .2rem auto;
  margin-bottom: 0.2rem;
  display: flex;
  border: 2px solid #39c894; }
  .sousuo input {
    width: 5.75rem;
    height: 100%;
    font-size: 0.28rem; }
  .sousuo .ss {
    width: 1.38rem;
    height: 100%;
    background: #39c894;
    color: white;
    font-size: .28rem; }

.zx {
  width: 100%;
  border-top: 20px solid gainsboro; }
  .zx .qh {
    width: 7.15rem;
    height: 0.75rem;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    border-bottom: 2px solid #efefef; }
    .zx .qh .qie {
      width: 33%;
      height: 100%;
      text-align: center;
      line-height: 0.75rem;
      overflow: hidden;
      font-size: 0.28rem; }
    .zx .qh .qie:hover {
      border-bottom: 2px solid #2CB380; }
  .zx .tuwen {
    width: 7.15rem;
    height: 2rem;
    margin: .36rem auto;
    display: flex;
    justify-content: space-between; }
    .zx .tuwen .tw {
      width: 1.05rem;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 0; }
      .zx .tuwen .tw img {
        width: 1.05rem;
        height: 1.05rem;
        margin-bottom: 0.32rem; }
      .zx .tuwen .tw .zi {
        width: 1.1rem;
        height: 0.27rem;
        font-size: 0.27rem;
        text-align: center;
        overflow: hidden; }
  .zx .lj {
    width: 7.15rem;
    height: 0.7rem;
    margin-left: .15rem;
    margin-bottom: 0.36rem;
    background: white;
    border-radius: 0.1rem;
    font-size: .27rem;
    color: #2CB380;
    border: 1px solid #2CB380; }

.gonglue {
  width: 100%;
  border-top: 20px solid gainsboro;
  border-bottom: 30px solid gainsboro; }
  .gonglue .tou {
    width: 90%;
    height: 0.42rem;
    margin: 0.32rem auto;
    margin-bottom: 0.32rem;
    font-size: 0;
    border-left: 5px solid #3ac994; }
    .gonglue .tou span {
      font-size: 0.36rem;
      margin-left: 0.3rem;
      width: 1.6rem;
      height: 0.42rem;
      overflow: hidden; }
  .gonglue .tuwen1 {
    width: 7.16rem;
    height: 2.1rem;
    margin: 0 auto;
    font-size: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-bottom: 1px solid gainsboro; }
    .gonglue .tuwen1 img {
      width: 1.9rem;
      height: 1.45rem;
      margin-right: 0.22rem; }
    .gonglue .tuwen1 .wen1 {
      width: 5rem;
      height: 1.45rem; }
      .gonglue .tuwen1 .wen1 .min_wen {
        width: 100%;
        height: 1rem;
        overflow: hidden;
        font-size: 0.36rem;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 0.22rem; }
      .gonglue .tuwen1 .wen1 span {
        width: 2.1rem;
        height: 0.3rem;
        overflow: hidden;
        font-size: 0.28rem;
        color: #999999; }
        .gonglue .tuwen1 .wen1 span img {
          width: 0.28rem;
          height: 0.28rem;
          margin-right: 0.1rem; }
  .gonglue .huan {
    width: 90%;
    height: 0.7rem;
    margin: 0.36rem auto;
    margin-bottom: 0.36rem;
    border: 1px solid gainsboro;
    display: flex; }
    .gonglue .huan li {
      width: 50%;
      height: 100%;
      text-align: center;
      line-height: 0.7rem;
      font-size: 0.28rem; }

.neir {
  width: 7.4rem;
  margin: 0.36rem auto;
  padding-left: 0.1rem;
  padding-bottom: 0.36rem;
  border-bottom: 30px solid gainsboro;
  font-size: 0.28rem;
  text-indent: 2em; }

.fw {
  width: 100%;
  height: 1.3rem; }
  .fw .fw-a {
    width: 100%;
    height: 1rem;
    font-size: 0; }
    .fw .fw-a .a-fw .icon-hot-line {
      font-size: 0.32rem;
      float: left;
      color: #39c893;
      margin-right: 0.1rem;
      margin-left: 1.9rem;
      margin-top: 0.3rem; }
    .fw .fw-a .a-fw p {
      width: 3.5rem;
      height: 1rem;
      overflow: hidden;
      font-size: 0.28rem;
      line-height: 1rem;
      color: #333;
      float: left; }
  .fw .fw-b {
    width: 100%;
    height: 0.3rem; }
    .fw .fw-b .fw-li {
      width: 25%;
      height: 0.3rem;
      font-size: 0.28rem;
      float: left;
      text-align: center; }

.footer {
  width: 100%;
  height: 1.85rem;
  font-size: 0;
  position: relative; }
  .footer .ter-a {
    width: 100%;
    height: 1.06rem;
    position: relative; }
    .footer .ter-a .ter-p {
      font-size: 0.25rem;
      text-align: center;
      line-height: 1.06rem; }
  .footer .botton {
    width: 100%;
    height: 1.06rem;
    background: rgba(0, 0, 0, 0.8) url(../img/bottom.png) no-repeat 1rem 0.15rem;
    background-size: 4rem .8rem;
    position: absolute;
    top: -0.8rem;
    position: relative; }
    .footer .botton .mf {
      width: 1.75rem;
      height: .5rem;
      background: #feb605;
      font-size: .24rem;
      color: white;
      border: none;
      border-radius: 0.5rem;
      margin: .3rem 5.5rem; }
    .footer .botton .xx {
      width: .35rem;
      height: .35rem;
      position: absolute;
      top: 0;
      background: #60d4a8;
      font-size: .24rem;
      text-align: center;
      line-height: .35rem;
      color: white;
      border-bottom-right-radius: 90%; }

/*# sourceMappingURL=index.css.map */
