.header {
  width: 100%;
  height: 1rem;
  z-index: 10;
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid gainsboro;
  position: fixed;
  top: 0; }
  .header .logo {
    width: 2.2rem;
    height: 0.75rem;
    font-size: 0;
    margin-left: 0.18rem; }
    .header .logo img {
      width: 100%;
      height: 100%; }
  .header .xuan {
    width: 1.25rem;
    height: 0.75rem;
    margin-right: 0.18rem;
    display: flex;
    justify-content: space-between; }
    .header .xuan .dao {
      width: 0.45rem;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center; }
      .header .xuan .dao img {
        width: 0.45rem;
        height: 0.45rem; }
      .header .xuan .dao span {
        font-size: 0.22rem;
        color: #999999;
        width: 0.5rem;
        height: 0.25rem;
        overflow: hidden; }

.ditu {
  width: 100%;
  height: 4.2rem;
  font-size: 0;
  margin-top: 1rem; }
  .ditu img {
    width: 100%;
    height: 100%; }

.dizhi {
  width: 6.8rem;
  height: 2.88rem;
  margin: 0 auto;
  display: flex; }
  .dizhi .dz {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .dizhi .dz .li_img {
      width: 1.2rem;
      height: 1.2rem;
      font-size: 0;
      margin-top: .36rem;
      margin-bottom: .32rem; }
      .dizhi .dz .li_img img {
        width: 100%;
        height: 100%; }
    .dizhi .dz .li_txt {
      max-width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      text-align: center;
      font-size: .28rem;
      color: #333333;
      line-height: .3rem; }
  .dizhi .dz_li1 {
    width: 3.34rem;
    margin-right: .82rem; }
    .dizhi .dz_li1 .li_txt {
      width: 100%;
      height: .62rem; }
  .dizhi .dz_li2 {
    width: 2.21rem; }
    .dizhi .dz_li2 .li_txt {
      width: 100%;
      height: .62rem; }

.ewm {
  width: 100%;
  height: 3.85rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f4f4f4; }
  .ewm .img {
    width: 2.66rem;
    height: 2.66rem;
    margin-top: .25rem;
    margin-bottom: .25rem; }
    .ewm .img img {
      width: 100%;
      height: 100%; }
  .ewm .txt {
    width: 4rem;
    height: .3rem;
    font-size: .3rem;
    text-align: center;
    color: #353535;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis; }

.neir {
  width: 7.4rem;
  margin: 0 auto;
  padding-left: 0.1rem;
  padding-top: 0.36rem;
  padding-bottom: 0.36rem;
  border-bottom: .15rem solid #f4f4f4;
  border-top: .15rem solid #f4f4f4;
  font-size: 0.28rem;
  line-height: .4rem;
  text-indent: 2em; }

.fw {
  width: 100%;
  height: 1.3rem; }
  .fw .fw-a {
    width: 100%;
    height: 1rem;
    font-size: 0; }
    .fw .fw-a .a-fw .icon-hot-line {
      font-size: 0.32rem;
      float: left;
      color: #39c893;
      margin-right: 0.1rem;
      margin-left: 1.9rem;
      margin-top: 0.3rem; }
    .fw .fw-a .a-fw p {
      width: 3.5rem;
      height: 1rem;
      overflow: hidden;
      font-size: 0.28rem;
      line-height: 1rem;
      color: #333;
      float: left; }
  .fw .fw-b {
    width: 100%;
    height: 0.3rem; }
    .fw .fw-b .fw-li {
      width: 25%;
      height: 0.3rem;
      font-size: 0.28rem;
      float: left;
      text-align: center; }

.footer {
  width: 100%;
  height: 1.85rem;
  font-size: 0;
  position: relative; }
  .footer .ter-a {
    width: 100%;
    height: 1.06rem;
    position: relative; }
    .footer .ter-a .ter-p {
      font-size: 0.25rem;
      text-align: center;
      line-height: 1.06rem; }

/*# sourceMappingURL=index.css.map */
